<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberAddressMapper">

<!-- 회원가입(주소) 로직 -->
<insert id = "signUpAddressMember" parameterType = "ezen.project.IGSJ.address.domain.MemberAddressDTO">

	INSERT INTO MemberAddressDTO (userId, postAddress, address, detailAddress)
	VALUES (#{userId}, #{postAddress}, #{address}, #{detailAddress});

</insert>

</mapper>