<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">

<!-- 
	MemberDTO
	userId	varchar(20)	NO	PRI	
	userPwd	varchar(500)	NO		
	userName	varchar(15)	NO		
	userPhoneNumber	varchar(20)	NO		
	userEmail	varchar(40)	NO		
	userJoinDate	datetime	NO		CURRENT_TIMESTAMP
	userVerify	int	NO		0
	userBirth	varchar(20)	NO		
 -->
 
 <!-- 
 	MemberAddressDTO
 	userId	varchar(20)	NO	PRI	
	postAddress	varchar(20)	NO		
	address	varchar(20)	NO		
	detailAddress	varchar(20)	NO		
  -->




<!-- 회원가입(회원정보) -->
<insert id = "signUpMember" parameterType = "ezen.project.IGSJ.member.domain.MemberDTO">
	
	INSERT INTO MemberDTO (userId, userPwd, userName, userPhoneNumber, userJoinDate, userEmail, userBirth)
	VALUES(#{userId}, #{userPwd}, #{userName}, #{userPhoneNumber}, NOW(), #{userEmail}, #{userBirth})
</insert>

<!-- 로그인 기능 -->
<select id = "memberLogin" parameterType = "ezen.project.IGSJ.member.domain.MemberDTO" resultType = "ezen.project.IGSJ.member.domain.MemberDTO">

	SELECT userId, userPwd
	FROM MemberDTO
	WHERE userId = #{userId}
	AND userPwd = #{userPwd}


</select>

<!-- 회원가입 아이디 중복 체크 -->
<select id = "memberIdCheck" resultType = "int" parameterType = "String">
	
	SELECT COUNT(*)
	FROM MemberDTO
	WHERE userId = #{userId}

</select>

</mapper>